.row
  .col-xs-12
    = filter_form do
      = filter_text_field "season", placeholder: Statistic.human_attribute_name(:season)
      = filter_select "type", ["value", "points", "assists", "rebounds", "three_pm"]
      = filter_text_field "num_games", placeholder: Statistic.human_attribute_name(:num_games)
      = filter_text_field "num_elements", placeholder: Statistic.human_attribute_name(:num_elements)
      = filter_buttons button="Importar"

= "num_predictions = "+@predictions_labels.size.to_s
<br>

=# "predictions_labels = "+@predictions_labels.to_s
<br>
= "labels = "+@labels.to_s
<br>
=# "prediccio = "+@prediccio.to_s
<br>
= "coefficient = "+@coefficient.to_s
<br>
= "bias = "+@bias.to_s
<br>
= "mean_squared_error = "+@mean_squared_error.to_s
<br>
= "squared_correlation_coefficient = "+@squared_correlation_coefficient.to_s
<br>
= "NRMSE = "+@nrmse.to_s
<br>
=# "test = "+@test.inspect
<br>
=# "prediccions = "+@prediccions.inspect
<br>
=# "min = "+@labels.min.to_s + " - max = "+@labels.max.to_s if @labels
<br>
=# "Max - Min = "+@max_min.to_s
