=form_for @user_team, url: {controller: "user_teams", action: "optimize", params: {id: @user_team.id}}, method: "get", remote: true do |f|
  .table-responsive.white
    %table.table.table-striped
      %thead
        %tr
          %th
          %th
          %th="Jugador"
          %th= f.submit "Valoración", class: 'btn btn-info optimizar', name: "value"
          %th= f.submit "Puntos", class: 'btn btn-info', name: "points"
          %th= f.submit "Rebotes", class: 'btn btn-info', name: "rebounds"
          %th= f.submit "Asistencias", class: 'btn btn-info', name: "assists"
          %th= f.submit "3Puntos", class: 'btn btn-info', name: "three_pm"
          %th= "Precio"
          %th
          %th
      %tbody
        = f.fields_for :bases do |builder|
          =render "user_team_player/new_edit", :f => builder, players: Player.active.bases, type: "base"
        = f.fields_for :aleros do |builder|
          =render "user_team_player/new_edit", :f => builder, players: Player.active.aleros, type: "alero"
        = f.fields_for :pivots do |builder|
          =render "user_team_player/new_edit", :f => builder, players: Player.active.pivots, type: "pivot"
        %tr.totals
          =render "user_team_player/totals"
#result.table-responsive.white
