%h1 Registro de Usuario

.col-xs-12.col-sm-12.col-md-6
  .row
    = form_for @user do |f|
      .form-group
        = f.label :name
        = f.text_field :name, class: "form-control"
      .form-group
        = f.label :email
        = f.email_field :email, class: "form-control"
      .form-group
        = f.label :password
        = f.password_field :password, class: "form-control"
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: "form-control"
      .form-group
        = f.submit 'Register', class: 'btn btn-info pull-right'
.col-xs-12.col-sm-12.col-md-6
  .col-xs-12.col-sm-12.col-md-12
    - if @user.errors.any?
      .alert.alert-danger
        %ul
          -# - filtered_user_messages(@user).each do |message|
          - @user.errors.full_messages.each do |message|
            %li= message