<ul class="nav nav-sidebar">
  <li>
    <%= link_to "Importar Pàgines Estadístiques", import_statistics_html_pages_path %>
  </li>
  <li>
    <%= link_to "Importar Pàgines Partits", import_games_html_pages_path %>
  </li>
  <li>
    <%= link_to "Crear Partits", create_from_html_games_path %>
  </li>
  <li>
    <%= link_to "Crear Estadístiques", create_from_html_statistics_path %>
  </li>
  <li>
    <%= link_to "Crear Acumulats Jugador", acumulats_jugador_statistics_path %>
  </li>
  <li>
    <%= link_to "Crear Acumulats Equip", acumulats_equip_statistics_path %>
  </li>
  <li>
    <%= link_to "Exportar Estadístiques", export_statistics_path(format: :csv) %>
  </li>
  <li>
    <%= link_to "Crear Prediccions", predictions_path, method: "post" %>
  </li>
</ul>
<ul class="nav nav-sidebar">
  <li>  
    <%= link_to "Pàgines HTML", html_pages_path %>
  </li>
  <li>  
    <%= link_to "Equips", teams_path %>
  </li>
  <li>  
    <%= link_to "Jugadors", players_path %>
  </li>
  <li>  
    <%= link_to "Estadístiques", statistics_path %>
  </li>
  <li>  
    <%= link_to "Prediccions", predictions_path %>
  </li>
</ul>