<ul class="nav nav-sidebar">
  <li>
    <%= link_to "Importar Pàgines", import_html_pages_path %>
  </li>
  <li>
    <%= link_to "Crear Estadístiques", import_statistics_path %>
  </li>
  <li>
    <%= link_to "Crear Acumulats", acumulats_statistics_path %>
  </li>
</ul>
<ul class="nav nav-sidebar">
  <li>  
    <%= link_to "Pàgines HTML", html_pages_path %>
  </li>
  <li>  
    <%= link_to "Equips", teams_path %>
  </li>
  <li>  
    <%= link_to "Jugadors", players_path %>
  </li>
  <li>  
    <%= link_to "Estadístiques", statistics_path %>
  </li>
</ul>