<ul class="nav nav-sidebar">
  <li>
    <%= link_to "Importar Pàgines", html_pages_imports_path %>
  </li>
  <li>
    <%= link_to "Crear Estadístiques", statistics_path %>
  </li>
</ul>
<ul class="nav nav-sidebar">
  <li>  
    <%= link_to "Equips", teams_path %>
  </li>
  <li>  
    <%= link_to "Jugadors", players_path %>
  </li>
  <li>  
    <%= link_to "Estadístiques", statistics_path %>
  </li>
</ul>