.row
  .col-xs-9
    %h1= t(".title")
  .col-xs-12
    .table-responsive
      %table.table.table-striped.table-condensed
        %thead.sortable
          %tr
            %th.col-xs-1= ""
            %th.col-xs-1= "ID"
            %th.col-xs-2= "Nombre"
            %th.col-xs-1= "Posición"
            %th.col-xs-2= "Precio"
            %th.col-xs-3= "Equipo"
        %tbody= render @players
