<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Manager ACB</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Manager ACB, 2015">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="front" id="<%= params[:controller].parameterize %>_controller" data-current-section="<%= @current_section %>">
    <div class="container"o>
      <div class="row">
        <nav class="navbar" role="navigation">
          <div class="col-sm-4">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/home">
                <img src="assets/logo/logo.png " alt="Manager ACB" class="logo">
              </a>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li>
                    <a href="#">JUGADORES</a>
                </li>
                <li>
                    <a href="#">EQUIPOS</a>
                </li>
                <li>
                    <a href="#">ESTADÍSTICAS</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <!-- Page Content -->
      <div class="row content">
        <div class="col-md-9">
          <%= yield %>
        </div>
        <div class="col-md-3">
          <div class="row">
            <% if cookies[:auth_token] %>
              <%= render partial: "users/user_panel" %>
            <% else %>  
              <%= render partial: "users/login" %>
            <% end %>
            <%= render partial: "inc/recomendaciones" %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>